
body{
    background-color: burlywood;
}

h1{
    text-align: center;
}

.Normal{
    background-color: black;
    color: white;
    text-decoration: underline;
}

.Inverso{
    background-color: white;
    color: black;
    text-decoration: underline;
}